$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Text colors
$base-text-color: #000000;
$companion1-text-color: #444444;
$companion2-text-color: #ffffff;
$companion3-text-color: #63d1bb;



// Backgrounds colors
$base-bg-color: #ffffff;
$companion1-bg-color: #62d1ba;
$companion2-bg-color: #f1f1f1;
$companion3-bg-color: #63d1bb;
$companion4-bg-color: #56c3b2;
$companion5-bg-color: #000000;



// Links colors
$link-color: #000000;
$link-focus-color: #666666;
$link-active-color: #b2b2b2;



// Mail-links taet color 
$mail-link-color: #444444;
$mail-link-focus-color: #46c1ae;



$base-line-height: 24px;



// Borders
$base-border: 1px solid #ececec;
$catalog-border: 1px solid #ededed;

// Base button style
$base-batton-color: #444444;
$base-batton-bg-color: #ffffff;
$base-batton-border: 2px solid #444444;
// Button-focus style
$base-batton-focus-color: #ffffff;
$base-batton-bg-focus-color: #444444;
// Button-active style
$base-batton-active-color: #7c7c7c;
$base-batton-bg-active-color: #444444;



// Section title font style
// Mobile
$section-title-font-size: 25px;
$section-title-line-height: 30px;
$section-title-font-weight: 700;
// Tablet
$section-title-font-size-tablet: 43px;
$section-title-line-height-tablet: 50px;
// Desktop
$section-title-font-size-desktop: 53px;
$section-title-line-height-desktop: 57px;



//Button size-select style
$size-select-color:#444444;
$size-select-bg-color: #ffffff;
$size-select-border: 2px solid #ececec;
$size-select-focus-border: 2px solid #c7c7c7;
$size-select-active-border: 2px solid #62d1ba;



// Button add-baskes style
$bt-add-basket-color: #ffffff;
$bt-add-basket-bg-color: #63d1bb;
$bt-add-basket-border: 2px solid #63d1bb;
// Button-focus style
$bt-add-basket-focus-color: #63d1bb;
$bt-add-basket-focus-bg-color: #ffffff;
$bt-add-basket-focus-border: 2px solid #63d1bb;
// Button-active style
$bt-add-basket-active-color: #7c7c7c;
$bt-add-basket-active-bg-color: #ffffff;
$bt-add-basket-active-border: 2px solid #7c7c7c;




// Inner-page title style
// Mobile
$ip-title-color: #231f20;
$ip-title-bg-color: #f1f1f1;

$ip-title-font-size: 27px;
$ip-title-line-height: 30px;
$ip-title-font-weight: 700;
//Tablet
$ip-title-font-size-tablet: 43px;
$ip-title-line-height-tablet: 50px;
//Desktop
$ip-title-font-size-desktop: 53px;
$ip-title-line-height-desktop: 57px;



// Catalog item font style
// Mobile
$catalog-item-font-size: 17px;
$catalog-item-line-height: 24px;
$catalog-item-font-weight: 700;
// Tablet
$catalog-item-font-size-tablet: 20px;


// Catalog item-text font style
// Mobile
$catalog-item-text-font-size: 13px;
$catalog-item-text-line-height: 30px;
$catalog-item-text-font-weight: 400;
// Tablet
$catalog-item-text-font-size-tablet: 15px;




$check-radio-border: 2px solid #444444;
$check-radio-focus-border:2px solid #62d1ba;
$check-radio-active-border:2px solid #c7c7c7;
$radio-pin-color: #62d1ba;
$check-pin-color: #231f20;

$input-border: 2px solid #000000;
$input-border-focus: 2px solid #62d1ba;
$input-text-color: #444444;
$input-placeholder-color: #c7c7c7;

// Overlay
$overlay-bg-color: rgba(255, 255, 250, 0.8);

@mixin pseudo-element ($content: "", $display:block, $pos:absolute) {
    content: $content;
    display: $display;
    position: $pos;
}