@import "_style-lib.scss";

.about-us {
    display: block;
    padding: 28px 0 0 0;
    margin: 0;

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        position: relative;
        display: block;
        margin: 0;
        margin-bottom: 28px;
        padding: 0;
        padding-top: 55px;
        width: 260px;

        font-size: 17px;
        line-height: 20px;
        font-weight: 700;

        &::before {
            @include pseudo-element;
            top: 0;

            background-position: 0 0;
            background-repeat: no-repeat;
        }

        &--eco-materials::before {
            width: 32px;
            height: 37px;
            left: 8px;

            background-image: url("../img/icon-1.png");
        }

        &--Scandinavian-style::before {
            width: 47px;
            height: 27px;
            top: 2px;
            left: 0;

            background-image: url("../img/icon-2.png");
        }

        &--more-likes::before {
            width: 34px;
            height: 27px;
            top: 6px;
            left: 7px;


            background-image: url("../img/icon-3.png");
        }

        &--made-with-love::before {
            width: 35px;
            height: 34px;
            top: 3px;
            left: 3px;

            background-image: url("../img/icon-4.png");
        }

        &--domestic-manufacturer::before {
            width: 55px;
            height: 23px;
            top: 5px;
            left: -6px;

            background-image: url("../img/icon-5.png");
        }

        &--gift-wrap::before {
            width: 33px;
            height: 32px;
            top: 2px;
            left: 3px;

            background-image: url("../img/icon-6.png");
        }
    }
}