@import "_style-lib.scss";

.button {
    display: block;
    box-sizing: border-box;
    width: 260px;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 16px;
    margin: 0;

    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $base-batton-color;

    background-color: $base-batton-bg-color;
    border: $base-batton-border;

    &:hover,
    &:focus {
        color: $base-batton-focus-color;
        background-color: $base-batton-bg-focus-color;
    }

    &:active {
        color: $base-batton-active-color;
        background-color: $base-batton-bg-active-color;
    }

    &--add-basket {
        color: $bt-add-basket-font-color;
        background-color: $bt-add-basket-bg-color;
        border: $bt-add-basket-border;

        &:focus,
        &:hover {
            color: $bt-add-basket-focus-font-color;
            background-color: $bt-add-basket-focus-bg-color;
            border: $bt-add-basket-focus-border;
        }

        &:active {
            color: $bt-add-basket-active-font-color;
            background-color: $bt-add-basket-active-bg-color;
            border: $bt-add-basket-active-border;
        }
    }
}