@import "_style-lib.scss";

.contacts {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 36px 0 40px 0;

    &__title {
        display: block;
        padding: 0;
        margin: 0;
        margin-bottom: 27px;
        text-align: left;

        font-size: 18px;
        line-height: 30px;
        font-weight: $section-title-font-weight;

        width: 260px;
    }

    &__list {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        list-style: none;

        font-size: 15px;
        line-height: 30px;
        font-weight: 400;

        color: $companion-font-color;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    &__field {
        margin: 0;
        padding: 0;
        width: 75px;
        vertical-align: top;
    }

    &__value {
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        width: 185px;
        vertical-align: top;
    }

    &__email {
        position: relative;
        color: $companion-font-color;

        &:focus,
        &:hover {
            color: #62d1ba;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__email::after {
        @include pseudo-element;
        top: 24px;
        left: 0;
        width: 100%;
        height: 1px;

        background-color: #62d1ba;
    }

    &__map {
        position: relative;
        width: 320px;
        margin: 0;
        margin-left: -30px;
        margin-bottom: 40px;
        padding: 0;
    }

    &__map::after {
        @include pseudo-element;
        width: 67px;
        height: 100px;
        top: 145px;
        left: 138px;

        background-image: url("../img/map-pin.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .contacts {
        position: relative;
        padding: 61px 0 57px 0;

        &::before {
            @include pseudo-element;

            top: 46px;
            right: 2px;

            width: 47px;
            height: 81px;

            background-image: url("../img/flag.png");
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        &__title {
            margin-bottom: 50px;

            font-size: $section-title-font-size-tablet;
            line-height: $section-title-line-height-tablet;

            width: 334px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            width: 668px;
            margin-bottom: 55px;

            font-size: 17px;
        }

        &__item {
            width: 334px;
        }

        &__value {
            padding-bottom: 0;
            width: 259px;
        }

        &__map {
            width: 768px;
            margin-left: -50px;
            margin-bottom: 56px;
        }

        &__map::after {
            top: 140px;
            left: 364px;
        }
    }
}

@media (min-width: 1250px) {
    .contacts {
        flex-wrap: wrap;
        width: 1050px;
        height: 457px;
        padding: 71px 0 57px 175px;
        margin-bottom: 50px;

        &::before {
            top: 133px;
            left: 62px;
        }

        &__wrapper {
            width: 350px;
            padding-top: 70px;
        }

        &__title {
            font-size: $section-title-font-size-desktop;
            line-height: $section-title-line-height-desktop;

            width: 350px;
        }

        &__list {
            width: 350px;
            margin-bottom: 80px;

            font-size: 17px;
        }

        &__item {
            width: 350px;

            &:first-child {
                margin-bottom: 29px;
            }
        }

        &__value {
            width: 273px;
        }


        &__map {
            width: 525px;
            margin-left: 0;
            margin-bottom: 0;
            order: 1;
        }

        &__map::after {
            top: 144px;
            left: 150px;
        }
    }
}