@import "_style-lib.scss";

.copyright {
    &__link {
        display: flex;
        justify-content: space-between;
        width: 182px;
        padding: 0;

        fill: #63d1bb;

        &:hover,
        &:focus {
            fill: #46c1ae;
        }

        &:active {
            fill: #46c1ae;
            opacity: 0.3;
        }
    }


    &__text {
        display: block;
        width: 130px;
        padding: 5px 0 8px 0;

        font-size: 18px;
        line-height: 20px;
        font-weight: 700;

        color: $base-text-color;
    }

    &__image {
        display: block;
        width: 27px;
        height: 34px;
    }

}