@import "_style-lib.scss";

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &__text {
        width: 260px;
        margin: 0;
        padding: 23px 0 21px 0;

        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: $companion1-text-color;
    }

    &__field {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        width: 260px;
        border: none;
        border-top: 1px solid $companion1-bg-color;
    }

    &__name {
        min-width: 45px;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        color: $companion3-text-color;

        font-size: 17px;
        font-weight: 700;

        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;

        width: 260px;

        margin: 0;
        margin-bottom: 27px;
        padding: 0;
        padding-top: 20px;

        list-style: none;

        &--user-contacts {
            padding-top: 0;
            padding-bottom: 2px;
        }

        &--textarea {
            margin-bottom: 16px;
        }
    }

    &__item {
        display: block;
        box-sizing: border-box;
        // margin: 0;
        // padding: 0;
        padding-left: 62px;

        &--type-select {
            margin-bottom: 2px;
        }

        &--color-select {
            margin-bottom: 21px;
        }

        &--user-full-name {
            padding: 0;
            margin-bottom: 17px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__label {
        position: relative;
        display: block;
        margin: 0;
        padding: 10px 0 12px 0;

        cursor: pointer;
        user-select: none;

        font-size: 17px;
        line-height: 18px;
        font-weight: 700;


        &--type-select::before,
        &--color-select::before {
            @include pseudo-element;
            top: 0;
            left: -62px;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            background-color: transparent;

            border: $check-radio-border;
        }

        &--type-select::before {
            border-radius: 50%;

        }

        &--user-full-name {
            padding: 0;
            padding-top: 4px;
        }

        &--user-contacts,
        &--add-info {
            display: none;
        }
    }

    &__option-property:hover+&__label::before,
    &__option-property:focus+&__label::before {
        border: $check-radio-focus-border;
    }

    &__option-property:active+&__label::before {
        border: $check-radio-active-border;
    }

    &__option-property:checked+&__label--type-select::after {
        @include pseudo-element;
        top: 12px;
        left: -50px;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        background-color: $radio-pin-color;

        border-radius: 50%;
    }

    &__option-property:checked+&__label--color-select::after {
        @include pseudo-element;
        top: 12px;
        left: -53px;
        width: 22px;
        height: 16px;

        background-image: url("../img/tick-mobile.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }



    &__option {
        display: block;
        box-sizing: border-box;
        padding: 17px 0 15px 0;

        width: 260px;
        border: none;
        border-bottom: $input-border;


        font-size: 17px;
        line-height: 18px;
        font-weight: 400;
        color: $input-text-color;

        &--phone {
            background-image: url("../img/phone.png");
            background-position: 97% 52%;
            background-repeat: no-repeat;
        }

        &--email {
            background-image: url("../img/mail.png");
            background-position: 98% 57%;
            background-repeat: no-repeat;
        }

        &--textarea {
            height: 143px;
            padding-left: 17px;

            border: $input-border;
        }

        &::placeholder {
            color: $input-placeholder-color;
        }

        &:focus,
        &:hover,
        &:active {
            border-bottom: $input-border-focus;
        }

        &--textarea:focus,
        &--textarea:hover,
        &--textarea:active {
            border: $input-border-focus;
        }

        &--textarea::placeholder {
            margin: 0;
        }

    }

    &__info {
        margin: 0;
        margin-bottom: 30px;
        padding: 0;

        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $companion1-text-color;
    }
}