@import "_style-lib.scss";

.inner-page-title {
    display: block;
    box-sizing: border-box;
    padding: 70px 0 75px;
    width: 320px;

    text-align: center;
    font-size: $ip-title-font-size;
    line-height: $ip-title-line-height;
    font-weight: $ip-title-font-weight;

    color: $ip-title-color;

    background-color: $ip-title-bg-color;
}

@media (min-width: 768px) {
    .inner-page-title {
        position: relative;

        padding: 94px 0 90px;
        width: 768px;

        font-size: $ip-title-font-size-tablet;
        line-height: $ip-title-line-height-tablet;

        &::after {
            @include pseudo-element;
            width: 768px;
            height: 23px;
            left: 0px;
            bottom: 0;

            background-image: url("../img/zigzag-fill-tablet.svg");
            background-position: center 0;
            background-size: 768px 23px;
        }

    }
}

@media (min-width: 1250px) {
    .inner-page-title {

        padding: 92px 0 120px;
        width: 1250px;

        font-size: $ip-title-font-size-desktop;
        line-height: $ip-title-line-height-desktop;

        &::after {
            width: 1250px;
            height: 33px;
            left: 0;

            background-size: 1250px 33px;

        }
    }
}