@import "_style-lib.scss";

.main-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0;

    box-sizing: border-box;


    &__wrapper {
        width: 260px;
        display: flex;
        justify-content: space-between;
        margin: 0;

    }

    &__logo {
        margin-top: 22px;
        margin-left: 86px;
        margin-bottom: 22px;
    }

    &__toggle {
        margin-top: 29px;
    }

    &__text {
        font-size: 15px;
        line-height: 24px;
        font-weight: 400;
        display: none;
    }
}

@media (max-width: 767px) {
    .main-nav--no-js .main-nav__toggle {
        display: none;
    }

    .main-nav--no-js .site-list,
    .main-nav--no-js .user-list {
        display: block;
    }
}


@media (min-width: 768px) {
    .main-nav {
        position: relative;
        flex-direction: row;

        &__wrapper {
            width: 320px;
        }

        &__logo {
            margin-left: -2px;
            margin-bottom: 20px;

        }

        &__toggle {
            display: none;
        }

        &__text {
            position: absolute;
            z-index: 100;
            display: block;
            top: 105px;
            right: 0;
        }
    }
}

@media (min-width: 1250px) {
    .main-nav {
        justify-content: space-between;

        &__wrapper {
            order: 1;
        }

        &__logo {
            margin: 9px 0px 7px 69px;
        }
    }
}