@import "_style-lib.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $overlay-bg-color;
    z-index: 101;
    display: none;
    // display: block;
}

.overlay-show {
    display: block;
}