@import "_style-lib.scss";

.page-footer {
    display: flex;
    min-width: 320px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    background-color: #f1f1f1;

    &__social {
        padding: 26px 0;
        margin: 0;
    }

    &__copyright {
        padding: 22px 0 23px 0;
        margin: 0;
    }
}