.page-header {
    position: relative;

    &__wrapper {
        width: 173px;
        margin: 22px 31px 22px 116px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 86px;
        height: 35px;

        &:focus,
        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__toggle {
        width: 20px;
        height: 14px;
        margin: 10px 0;

        border: none;

        background-color: rgb(6, 36, 26);
    }


}