@import "_style-lib.scss";

.page-footer {
    width: 320px;
    margin: 0;
    padding: 0;

    background-color: $companion2-bg-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: none;
    }

    &__social {
        padding: 26px 0;
        margin: 0;
    }

    &__copyright {
        padding: 22px 0 23px 0;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .page-footer {
        width: 768px;

        &__wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            width: 668px;
        }

        &__logo {
            display: block;
            padding: 51px 0 58px 0;
            margin-right: 159px;

        }

        &__social {
            padding: 57px 0;
            margin: 0;
            margin-right: 82px;
        }

        &__copyright {
            padding: 58px 0 51px 0;
            margin: 0;
        }
    }
}

@media (min-width: 1250px) {
    .page-footer {
        width: 1250px;

        &__wrapper {
            width: 1050px;
        }

        &__logo {
            margin-right: 350px;

        }

        &__social {
            margin-right: 272px;
        }
    }
}