@import "_style-lib.scss";

.reviews {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 28px 0 51px 0;

    &::after {
        @include pseudo-element;
        width: 320px;
        height: 6px;
        left: -30px;
        bottom: 0;

        background-image: url("../img/zigzag-line-mobile.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    &__title {
        margin-bottom: 23px;
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__text {
        width: 260px;
        margin: 0;
        margin-bottom: 26px;
        padding: 0;

        text-align: left;
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        color: $companion1-text-color;
    }

    &__author-name {
        display: block;
        width: 260px;
        margin: 0;
        padding: 0;

        text-align: left;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
    }

    &__author-login {
        display: block;
        width: 130px;
        margin: 0;
        margin-top: 4px;
        margin-bottom: 27px;
        padding: 0;

        text-align: left;
        font-style: normal;
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;
        color: $companion1-text-color;
    }

    &__toggles {
        display: flex;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        width: 260px;
    }

    &__toggles-previous,
    &__toggles-next {
        position: relative;
        width: 130px;
        min-height: 52px;
        box-sizing: border-box;
        border: $base-border;
        background-color: $base-batton-bg-color;
        cursor: pointer;
    }

    &__toggles-previous {
        border-right: none;
    }

    &__toggles-previous::before,
    &__toggles-next::before {
        @include pseudo-element;
        top: 24px;
        width: 47px;
        height: 4px;
        background-color: #000000;
    }

    &__toggles-previous::before {
        left: 40px;
    }

    &__toggles-next::before {
        left: 42px;
    }

    &__text-previous::before,
    &__text-previous::after,
    &__text-next::before,
    &__text-next::after {
        @include pseudo-element;
        width: 18px;
        height: 4px;
        background-color: #000000;
    }

    &__text-previous::before {
        top: 19px;
        left: 36px;
        transform: rotate(-45deg);
    }

    &__text-previous::after {
        top: 30px;
        left: 36px;
        transform: rotate(45deg);
    }

    &__text-next::before {
        top: 19px;
        right: 36px;
        transform: rotate(45deg);
    }

    &__text-next::after {
        top: 30px;
        right: 36px;
        transform: rotate(-45deg);
    }

    &__toggles-previous:focus,
    &__toggles-previous:hover,
    &__toggles-next:focus,
    &__toggles-next:hover {
        opacity: 0.6;
    }

    &__toggles-previous:active,
    &__toggles-next:active {
        opacity: 0.3;
    }
}

@media (min-width: 768px) {
    .reviews {
        width: 768px;
        margin-left: -50px;
        padding: 0;
        padding-bottom: 130px;
        background-image: url("../img/review.jpg");
        background-position: 0 0;
        background-repeat: no-repeat;

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
            background-image: url("../img/review@2x.jpg");
            background-size: 350px auto;
        }

        &::after {
            width: 771px;
            height: 15px;
            left: 0;

            background-image: url("../img/zigzag-line-tablet.png");
        }

        &__wrapper {
            padding-top: 76px;
            padding-left: 50px;
        }

        &__title {
            margin-bottom: 50px;
        }

        &__text {
            width: 668px;
            margin-bottom: 57px;

            font-size: 17px;
        }

        &__author-name {
            width: 334px;
        }

        &__author-login {
            width: 167px;
            margin-bottom: 0;
        }

        &__controls-wrapper {
            position: absolute;
            top: 79px;
            right: 50px;
            display: flex;
            flex-direction: column-reverse;
            width: 176px;
        }

        &__button {
            margin-bottom: 225px;
        }

        &__toggles {
            margin-bottom: 0px;
            width: 176px;
        }

        &__toggles-previous,
        &__toggles-next {
            width: 88px;
            border: none;
        }

        &__toggles-previous::before,
        &__toggles-next::before {
            width: 47px;

        }

        &__toggles-previous::before {
            left: 23px;
        }

        &__toggles-next::before {
            left: 20px;
        }

        &__text-previous::before,
        &__text-previous::after,
        &__text-next::before,
        &__text-next::after {
            height: 4px;
        }

        &__text-previous::before {
            left: 20px;
        }

        &__text-previous::after {
            left: 20px;
        }

        &__text-next::before {
            right: 17px;
        }

        &__text-next::after {
            right: 17px;
        }
    }
}

@media (min-width: 1250px) {
    .reviews {
        width: 1050px;
        margin-left: 0px;

        padding-bottom: 185px;

        &::after {
            width: 1050px;
            height: 23px;

            background-image: url("../img/zigzag-line-desktop.png");
        }

        &__wrapper {
            padding-top: 70px;
            padding-left: 175px;
        }

        &__text {
            width: 780px;
            margin-bottom: 37px;
        }

        &__controls-wrapper {
            right: 0;
        }

        &__button {
            margin-bottom: 177px;
        }
    }
}