@import "_style-lib.scss";

.size-select {
    display: block;
    box-sizing: border-box;
    width: 78px;
    margin: 0;
    padding: 15px 0;

    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;

    color: $size-select-color;

    background-color: $size-select-bg-color;
    border: $size-select-border;

    &:hover,
    &:focus {
        border: $size-select-focus-border;
    }

    &:active {
        border: $size-select-active-border;
    }
}

@media (min-width: 768px) {
    .size-select {
        width: 112px;
    }
}