@import "_style-lib.scss";

.user-list {
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;

    width: 320px;
    margin: 0;
    margin-left: -30px;
    padding: 0;

    list-style: none;
    word-break: break-all;

    &__item {
        box-sizing: border-box;
        border-bottom: $base-border;
    }

    &__item:last-child {
        border-bottom: none;
    }

    &__search,
    &__basket {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 320px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 77px;

        font-size: 17px;
        line-height: 24px;
        font-weight: 700;

        color: $link-color;

        &:focus,
        &:hover {
            color: $link-focus-color;
        }

        &:active {
            color: $link-active-color;
        }
    }



    &__search::before {
        @include pseudo-element;
        top: 32px;
        left: 32px;

        width: 18px;
        height: 18px;

        background-image: url("../img/search.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    &__basket::before {
        @include pseudo-element;
        top: 31px;
        left: 30px;

        width: 21px;
        height: 18px;

        background-image: url("../img/cart.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    &__search:hover::before,
    &__search:focus::before {
        background-image: url("../img/search-focus.png");
    }

    &__basket:hover::before,
    &__basket:focus::before {
        background-image: url("../img/cart-focus.png");
    }

    &__search:active::before {
        background-image: url("../img/search-focus.png");
        opacity: 0.3;
    }

    &__basket:active::before {
        background-image: url("../img/cart-focus.png");
        opacity: 0.3;
    }
}

.user-list--open {
    display: flex;
}


@media (min-width: 768px) {
    .user-list {
        display: flex;
        order: 1;

        width: 348px;
        margin: 0;

        &__item {
            border-bottom: none;
            border-left: $base-border;

        }


        &__search {
            width: 81px;
            padding-top: 44px;
            padding-bottom: 44px;
            padding-left: 0;


        }

        &__search-text {
            display: none;
        }

        &__basket {
            width: 265px;

            padding-left: 82px;
        }
    }
}

@media (min-width: 1250px) {
    .user-list {
        order: 2;
    }
}