@import "_style-lib.scss";

.user-list {
    display: flex;
    flex-wrap: wrap;

    width: 320px;
    margin: 0;
    padding: 0;

    list-style: none;
    word-break: break-all;

    &__item {
        border-bottom: $base-border;
    }

    &__item:last-child {
        border-bottom: none;
    }

    &__search,
    &__basket {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 320px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 77px;
        color: $link-color;

        &:focus,
        &:hover {
            color: $link-focus-color;
        }

        &:active {
            color: $link-active-color;
        }
    }

    &__search::before {
        @include pseudo-element;
        top: 32px;
        left: 32px;

        width: 18px;
        height: 18px;

        background-image: url("../img/search.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    &__basket::before {
        @include pseudo-element;
        top: 31px;
        left: 30px;

        width: 21px;
        height: 18px;

        background-image: url("../img/cart.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    &__search:hover::before,
    &__search:focus::before {
        background-image: url("../img/search-focus.png");
    }

    &__basket:hover::before,
    &__basket:focus::before {
        background-image: url("../img/cart-focus.png");
    }

    &__search:active::before {
        background-image: url("../img/search-focus.png");
        opacity: 0.3;
    }

    &__basket:active::before {
        background-image: url("../img/cart-focus.png");
        opacity: 0.3;
    }
}