@import "_style-lib.scss";

.video {
    display: flex;
    flex-direction: column;

    padding: 0;
    padding-bottom: 32px;
    margin: 0;
    border: $catalog-border;

    &__title {
        position: relative;
        display: block;
        box-sizing: border-box;
        padding: 23px 0 24px 90px;
        margin: 0;

        font-size: $catalog-item-font-size;
        line-height: $catalog-item-line-height;
        font-weight: $catalog-item-font-weight;
        color: $base-text-color;

        &::before {
            @include pseudo-element;
            width: 32px;
            height: 22px;

            top: 34px;
            left: 33px;

            background-image: url("../img/video.png");
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }

    &__content-wrapper {
        display: block;
        width: 260px;
        height: 150px;
        position: relative;

        margin-bottom: 28px;
    }

    &__content {
        display: block;
        width: 260px;
        height: 150px;
    }

    &__play-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        background-color: transparent;

        width: 121px;
        height: 92px;

        margin-left: -60px;
        margin-top: -46px;
        border: none;

        background-image: url("../img/play.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &:focus,
        &:hover {
            background-image: url("../img/play-focus.png");
        }

        &:active {
            background-image: url("../img/play-active.png");
        }
    }

    &__text {
        display: block;
        margin: 0 auto;
        margin-bottom: 49px;
        padding: 0;

        width: 194px;

        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: $companion1-text-color;
    }

}

@media (min-width: 768px) {
    .video {
        padding-bottom: 45px;

        &__title {
            position: relative;
            padding: 30px 0 24px 105px;
            margin: 0;
            margin-bottom: 7px;

            font-size: $catalog-item-font-size-tablet;

            order: 1;

            &::before {
                top: 30px;
                left: 42px;
            }
        }

        &__content-wrapper {
            width: 668px;
            height: 455px;

            margin-bottom: 10px;

            order: 0;
        }

        &__content {
            width: 668px;
            height: 455px;
        }

        &__text {
            margin-bottom: 35px;

            width: 585px;

            font-size: 15px;
            line-height: 30px;

            order: 2;
        }

        &__order-link {
            order: 3;
        }
    }
}

@media (min-width: 1250px) {
    .video {
        flex-wrap: wrap;
        padding-bottom: 0px;
        margin-bottom: 43px;
        width: 1050px;
        height: 455px;

        &__title {

            width: 350px;
            padding: 95px 60px 24px 60px;

            margin-bottom: 10px;

            &::before {
                top: 47px;
                left: 60px;
            }
        }

        &__content-wrapper {
            width: 682px;

            margin-bottom: 0;
            margin-right: 18px;
        }

        &__content {
            width: 682px;
        }

        &__text {
            margin: 0;
            margin-bottom: 45px;

            width: 350px;
            box-sizing: border-box;
            padding: 0 60px;

        }

        &__order-link {
            margin: 0 60px;
        }
    }
}